<?xml version="1.0"?>
<robots xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="controller_plugin_gazebo" params="robots_description">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <xacro:unless value="${robots_description == ''}">
          <robotsParam>${robots_description}</robotsParam>
        </xacro:unless>
        <controlPeriod>0.001</controlPeriod>
        <legacyModeNS>false</legacyModeNS>
      </plugin>
    </gazebo>
  </xacro:macro>
</robots>
